<?xml version="1.0" encoding="UTF-8"?>
<suite name="Master Suite">
  
  
  <test thread-count="5" name="Test">
    <listeners>
<listener class-name="Utilities.Listeners"/>
</listeners>

  <test thread-count="5" name="End to end Framework Test">
    <classes>
      <class name="testCases.Ecommerce_TC_03_cloud"/>     
    </classes>
    </test>
</suite> <!-- Suite -->
